@import "tailwindcss";


@theme {
  --color-alter: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  /* --background-image: url('/bg2.png'); */
  /* Light mode image */
  --background: #ffffff;
  --primary: #000000;
  --text: #3a3a3a;
  --secondary: #e7e7e7;
}

.dark {
  --background-image: url('/bg3.png');
  /* Dark mode image */
  --background: #000000;
  --primary: #ffffff;
  --text: #cccccc;
  --secondary: #0e0e0e;
}

body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
}